html {
  min-height:100%;
  box-sizing: border-box;
}
.Body {
  position: relative;
  min-height: 100%;
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #2cb5e8 60%, #1fc8db 99%);
  padding-bottom: 6rem;
}
.UserIcon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.2rem 0.35rem;
}
.ProgressBar {
  background-color: #FFFFFF;
  border: none;
  border-radius: 1rem;
  height: 10px;
  width: 20rem;
}
  .Progress {
    background-color: #FF69B4;
    height: 10px;
    width: 0.6rem;
  }
    .Progress.p25 {
      width: 5rem;
    }
    .Progress.p50 {
      width: 10rem;
    }
    .Progress.p75 {
      width: 15rem;
    }
    .Progress.p100 {
      width: 20rem;
    }

.card-header {
  padding: 0.5rem 1.25rem 0.75rem;
}
  .nav-link {
    color: #4D4D4D;
    padding: 0.3rem 1rem 0.5rem;
  }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
      border-top: 5px solid #FF69B4;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top:20px;
  background-color: #f5f5f5;
}
.Messages {
    position: relative;
    width: 100%;
    z-index: 100000;
}
.Message {
    position: absolute;
    top: 0;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding: 10px;
    text-align: center;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
  .Messages .error {
      color: #fff;
      background-color: #F78181;
  }

  .Messages .success {
      color: #FFFFFF;
      background-color: #3DBD89;
      cursor: pointer;
  }

  .Messages.hide {
      display: none;
  }

  .btn-primary {
    background-color: #FF69B4;
    border-color: #FF69B4;
  }
    .btn-primary:hover {
      background-color: #e4007c;
      border-color: #e4007c;
    }
  #id_map path {
    transition: all 0.2s ease-in-out
  }

  #id_map path:hover { 
    fill: #FF69B4; 
    cursor: pointer;
  }
  #id_map rect:hover {
    fill:transparent;
  }
  .FormField-NoBorder {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .CheckboxIcon {
    border: 2px solid #ced4da;
    border-radius: 8px;
    cursor: pointer;
    width: 31%;
    transition: all 0.2s ease-in-out
  }

  .CheckboxIcon:hover, .CheckboxIcon.selected  {
    border: 2px solid #FF69B4;
  }
  .CheckboxIcon input[type="checkbox"] {
    display: none;
  }
  .CheckboxIcon input[type="checkbox"] ~ .checked, .CheckboxIcon input[type="checkbox"] ~ .IconText{
    transition: all 0.2s ease-in-out
  }
  .CheckboxIcon svg, .CheckboxIcon .IconText {
    color: #ced4da;
  }
  .CheckboxIcon input[type="checkbox"]:checked {
    border-color: #FF69B4;
  }
  .CheckboxIcon input[type="checkbox"]:checked ~ .checked,
  .CheckboxIcon input[type="checkbox"]:checked ~ .checked .Icon {
    display: inline-block;
    color: #FF69B4;
  }
  .CheckboxIcon input[type="checkbox"]:checked ~ .IconText {
    color: #FF69B4;
    font-weight: 600;
  }

@media only screen and (max-width: 800px) {
  .w-100-r {
    width: 100% !important;
  }
  .p-0-r {
    padding: 0 !important;
  }
  .pl-4-r {
    padding-left: 1.5rem !important;
  }
}