{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="d-flex flex-column flex-lg-row justify-content-between pb-3">
    <p class="h2 mb-5 text-white">{% if project %}<a class="text-white" href="{% url 'project-detail' slug=project.slug %}">{{ project.name }}</a>{% else %}Contacts{% endif %}</p>
    {% if project %}
      {% include 'addins/progress_bar.html' %}
    {% endif %}
  </div>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% if project %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'project-detail' slug=project.slug %}">Project Details</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% block tab_list %}{% endblock %}" href="{% url 'contact-list' %}?{% if project %}project={{ project.id }}{% endif %}">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block tab_form %}{% endblock %}" href="{% if project %}{% url 'contact-add' slug=project.slug %}{% else %}{% url 'contact-create' %}{% endif %}">Add Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'survey-list' %}?project={{ project.id }}">Surveys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'survey-create' %}?project={{ project.id }}">Add Survey</a>
        </li>
        {% if survey.responses %}
        <li class="nav-item">
          <a class="nav-link {% block tab_responses %}{% endblock %}" href="{% url 'survey-response' pk=survey.id %}">Survey Results</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Contacts</h5>
      <div class="text-left">
      {% block card %}
      {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}