{% extends 'base.html' %}

{% block content %}
<div class="container">
  <p class="h2 mb-5 text-white">{% if project %}{{ project.name }}{% else %}Surveys{% endif %}</p>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% if project %}
        <li class="nav-item">
          <a class="nav-link {% block tab_detail %}{% endblock %}" href="{% url 'project-detail' slug=project.slug %}">Project Details</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% block tab_list %}{% endblock %}" href="{% url 'survey-list' %}{% if project %}?project={{ project.id }}{% endif %}">Surveys</a>
        </li>
        {% block tab_responses %}{% endblock %}
        <li class="nav-item">
          <a class="nav-link {% block tab_form %}{% endblock %}" href="{% url 'survey-create' %}{% if project %}?project={{ project.id }}{% endif %}">Add Survey</a>
        </li>
        {% if project %}
        <li class="nav-item">
          <a class="nav-link {% block tab_contacts %}{% endblock %}" href="{% url 'contact-list' %}?project={{ project.id }}">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact-add' slug=project.slug %}">Add Contact</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="card-body">
      <h3 class="card-title mb-5">{% if survey %}<a href="{% url 'survey-detail' pk=survey.id %}">{{ survey.name }}</a>{% else %}Surveys{% endif %}</h3>
      <div class="text-left">
      {% block card %}
      {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}