{% extends 'base.html' %}

{% block content %}
<div class="container">
  <p class="h2 mb-5 text-white">{{ project.name }}</p>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link {% block tab_detail %}{% endblock %}" href="{% url 'project-detail' slug=project.slug %}">Project Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block tab_surveys %}{% endblock %}" href="{% url 'survey-list' %}?project={{ project.id }}">Surveys</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'survey-create' %}{% if project %}?project={{ project.id }}{% endif %}">Add Survey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact-list' %}?project={{ project.id }}">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block tab_contact %}{% endblock %}" href="{% url 'contact-add' slug=project.slug %}">Add Contacts</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title lead">{{ title }}</h5>
      <div class="text-left">
      {% block project_card %}
      {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}