{% extends 'surveys/base_contact.html' %}
{% block tab_form %}active{% endblock %}
{% block card %}
<div class="d-flex flex-column flex-lg-row justify-content-between">
  <div class="w-50 w-100-r p-4 p-0-r">
    <p cless="lead">Add Contacts to Project</p>
    {% include 'addins/form.html' %}
  </div>
  <div class="w-50 w-100-r p-4 p-0-r d-flex flex-column justify-content-between">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in project.contact_set.all %}
        <tr>
          <td>{{ contact.first_name }} {{ contact.last_name }}</td> 
          <td>{{ contact.phone }}</td>
          <td>{{ contact.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if project.contact_set.count > 0 %}
    <p class="text-right"><a href="{% url 'survey-create' %}?project={{ project.id }}" class="btn btn-primary btn-lg w-50 w-100-r text-white">Next Step >></a></p>
    {% endif %}
  </div>

</div>
{% endblock %}