{% extends 'surveys/base_project.html' %}
{% block tab_detail %}active{% endblock %}
{% block project_card %}
  <p>Project Description: {{ project.description }}</p>
  <p>Country: {{ project.country }}</p>
  <p><strong>{{ project.survey_set.count }}</strong> Surveys Created</p>
  <p><strong>{{ project.get_sent_survey_count|default:"0" }}</strong> Surveys Sent</p>
  <p><strong>{{ project.contact_set.count }}</strong> Contacts</p>
  <p><strong>{{ project.get_respondent_count|default:"0" }}</strong> Respondents</p>
{% endblock %}