{% extends 'surveys/base_projects.html' %}
{% block tab_form %}active{% endblock %}
{% block card %}
<div class="d-flex flex-column flex-lg-row justify-content-between">
  <div class="w-50 w-100-r p-4 p-0-r">
    <p class="lead">Create new project</p>
    {% include 'addins/form.html' %}
  </div>
  <div class="w-50 w-100-r p-4 p-0-r d-flex flex-column overflow-auto">
    <!-- <p class="lead">Project functions</p> -->
    <p class="mt-5">Functions</p>
    <div class="d-flex justify-content-between px-3">
      <label class="CheckboxIcon p-3">
        <div class="d-flex flex-column text-center align-items-center">
          <input type="checkbox"> 
          <i class="Icon fas fa-phone fa-5x checked mb-3"></i>
          <span class="IconText">Phone Surveys</span>
        </div>
      </label>
      <label class="CheckboxIcon p-3">
        <div class="d-flex flex-column text-center align-items-center">
          <input type="checkbox"> 
          <i class="Icon fas fa-comments fa-5x checked mb-3"></i>
          <span class="IconText">SMS Surveys</span>
        </div>
      </label>
    </div>
    <div class="d-flex justify-content-between p-3 mt-3">
      <label class="CheckboxIcon p-3">
        <div class="d-flex flex-column text-center align-items-center">
          <input type="checkbox"> 
          <i class="Icon fas fa-bell fa-5x checked mb-3"></i>
          <span class="IconText">Alerts</span>
        </div>
      </label>
      <label class="CheckboxIcon p-3">
        <div class="d-flex flex-column text-center align-items-center">
          <input type="checkbox"> 
          <i class="Icon fab fa-whatsapp fa-5x checked mb-3"></i>
          <span class="IconText">WhatsApp</span>
        </div>
      </label>
    </div>
  </div>
</div>
{% endblock %}
