{% extends 'surveys/base_surveys.html' %}
{% block tab_list %}active{% endblock %}

{% block card %}
  <div class="d-flex flex-column flex-lg-row justify-content-between">
    <div class="w-50 w-100-r p-4 p-0-r">
      <p cless="lead">Add Questions to Survey</p>
      {% include 'addins/form.html' %}
    </div>
    <div class="w-50 w-100-r p-3 p-0-r d-flex flex-column justify-content-between">
    <div>
    <p cless="lead">Edit Questions</p>
      <table class="table">
        <thead>
          <tr>
            <th>Question</th>
            <th>Kind</th>
            <th>Sound</th>
          </tr>
        </thead>
        <tbody>
          {% for question in survey.question_set.all %}
          <tr>
            <td><a href="{% url 'question-update' pk=question.survey.id question_pk=question.id %}">{{ question.body }}</a></td> 
            <td>{{ question.get_kind_display }}</td>
            <td>{% if question.sound_file %}Yes{% else %}No{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      {% if survey.question_set.count %}
      <p class="text-right"><a href="{% url 'survey-detail' pk=survey.id %}?project={{ project.id }}" class="btn btn-primary btn-lg w-50 w-100-r text-white">Next Step >></a></p>
      {% endif %}
    </div>

  </div>
{% endblock %}