{% extends 'surveys/base.html' %}

{% block content %}
<p class="h2 mb-5">{{ survey.name }}</p>
<div class="d-flex justify-content-between">
  <div>
    <p>Questions</p>
    <a href="{% url 'question-create' pk=survey.id %}">Add Question</a>
    <table class="table">
      <thead>
        <tr>
          <th>Question</th>
          <th>Kind</th>
          <th>Sound</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for question in survey.question_set.all %}
        <tr>
          <td>{{ question.body }}</td> 
          <td>{{ question.get_kind_display }}</td>
          <td>{% if question.sound %}Yes{% else %}No{% endif %}</td>
          <td>X</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <p>Sending To</p>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for contact in survey.respondents.all %}
        <tr>
          <td>{{ contact.first_name }}</td> 
          <td>{{ contact.last_name }}</td>
          <td>{{ contact.phone }}</td>
          <td>X</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
 
<form method="POST" action="">

  {% csrf_token %}
  <div>
    <input type="submit" class="btn btn-primary" value="Send Survey">
  </div>

</form>
{% endblock %}