{% extends 'broadcasts/base_broadcasts.html' %}
{% block tab_communication %}active{% endblock %}
{% block card %}
{% load crispy_forms_tags %}
<div class="d-flex flex-column flex-lg-row justify-content-between">
  <div class="w-50 w-100-r p-4 p-0-r">
    <p class="lead">Add Broadcast to Project</p>
      <form method="POST" action="{{ form_action }}" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          {{ field|as_crispy_field }}
          {% if field.errors %}
          <div class="error">{{ field.errors }}</div>
          {% endif %}
        {% endfor %}
        <input class="btn btn-primary btn-lg mt-3 w-50 w-100-r" type="submit" value="Submit">
      </form>
  </div>
  <div class="w-50 w-100-r p-4 p-0-r d-flex flex-column justify-content-between overflow-auto">
    <table class="table">
      <thead>
        <tr class="overflow-auto">
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in project.contact_set.all %}
        <tr class="overflow-auto">
          <td>{{ contact.first_name }} {{ contact.last_name }}</td> 
          <td>{{ contact.phone }}</td>
          <td>{{ contact.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}